body {
  background-color: #F8E5DF;
  margin: 0;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-family: Sacramento, cursive;
  font-size: 58px;
  font-weight: bolder;
  font-style: italic;
  position: absolute;
  top: 16px;
  width: 60%;
  margin-top: 50px;
}
.skill-row {
  width: 50%;
  margin: auto;
}
h3 {
  font-family: Old Standard TT, serif;
  font-size: 26px;
  position:absolute;
  left: 880px;
  bottom: 330px;
}
h2 {
  font-family: Old Standard TT, serif;
  font-size: 28px;
  font-weight: bolder;
}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 7px;
  width:20%;
}
.bottom-cloud {
  position: absolute;
  left: 128px;
  bottom: 300px;
}
.top-cloud {
  position:absolute;
  top: 15px;
  left: 850px;
}
.profile-pic {
  border-radius: 50%;
  position: relative;
  width: 210px;
  height: auto;
}
@media only screen and (max-width: 600px) {
.profile-pic {
  width: 180px;
  }
}
@media only screen and (max-width: 600px) {
 div.h1 {
  position: absolute;
  top: 8px;
  width: 30%;
  margin-top: 50px;
  }
}
@media only screen and (max-width: 600px) {
 div.h1 {
   font-size: 10px;
  }
}
.profile-pic:hover {
  width: 300px;
}
a {
  font-family: Old Standard TT, serif;
  font-size: 16px;
}
a:hover{
  font-size: 20px;
}
.table-2 {
  font-family: Old Standard TT, serif;
  font-size: 16px;
  position: relative;
  left: 420px;
}
p {
  font-family: Old Standard TT, serif;
  font-size: 16px;
}
table {
  font-family: Old Standard TT, serif;
  font-size: 16px;
  position: relative;
  left: 420px;
}
